<h2>HELLO WORLD!</h2>
<p>
  The time for Revival is now :<%= Time.now %>
</p>

<!-- <div ng-controller='TimeCtrl'>
    <p>{{ clock | date:'medium'}}</p>
</div> -->



<h1>Courses</h1>

<ul>
<% @courses.each do |course| %>
  <li><%= short_title.name %></li>
  <li>course_id</li>
<% end %>
</ul>


<!-- <button class='submit' data="/records/<%= article.id %>"> -->

<a href="/page2">Revival</a>


