<h2>Hello World</h2>
<p>
  The time for Revival is now.
</p>

<a href="http://www.edx.org"><img src="/sites/default/files/theme/hero-logo-edx.png"
  alt="edX"
  width="200" height="100" border="0" /></a>

<svg>
</svg>

<ul class="course-options"></ul>

<div id="testContainer" style="background-color: gray; min-height:200px; min-width:200px; color: white;">
  <button id="addBtn">Revival</button>
  <br/>
  <a id="addLink" style="cursor:pointer">
    Do I retrieve with a link or should they be brought through from Views.Collection?
  </a>
</div>

<script type='text/template' id='course-template'>
  {{ short_title }}
  <button data-action='Select'>Select</button>
</script>

<script type='text/template' id='world'>
  // {{ short_title }}
  <button data-action='Select'>Revival</button>
</script>

<script>
$(function(){
  var courses = <%== @courses.to_json %>;
  var listView = RevivalApp.initialize(courses);
  $('#addBtn').on('click', function() {
    listView.render();
  })
});
</script>
