<p>REVIVAL - The Time For Learning Is Now</p>

  <button id="addBtn">Edx.org Courses</button>

  <ul class="course-options"></ul>

  <a href="/globe.html"><h2>REVIVAL!</br>See The World Learn</h2></a>

  <svg>
  </svg>



  <script type='text/template' id='world'>
    // {{ short_title }}
    <button ='Select'>Courses</button>
  </script>

  <script type='text/template' id='course-template'>
    {{ short_title }}
    <button ='Select'>Select</button>
   </script>



  <script>
  $(function(){
    var courses = <%== @courses.to_json %>;
    var listView = RevivalApp.initialize(courses);
    $('#addBtn').on('click', function() {
      listView.render();
    })
  });
  </script>
